.about-page>h1 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1e571a;
    align-content: center;

}

.content {
 
    border: solid #1e571a;
    padding-left: 30px;
    padding-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2.5ch;
    background-color: antiquewhite;
    size: 200px 250px;
}
.content>h2 {
    color: #1e571a;
    font-size: 30px;
    text-align: center;
}

.paragraph {
    font-size: 30px;
    text-align: justify;
    text-decoration: none;
}

.image {
    padding-right: 100px; 
     /* padding: 300px 800px; */
    /* padding-left: 50px; */
    display:block;
}

.image>img {
    border: 1px solid #1e571a;
    /* size: 200px 250px; */
    border-radius: 5ch;
    width: 105%;
}