.create-comment>.form>textarea {
    resize: none;
    width: 100px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
}

.details-comments {
    display: table-cell;
}

.create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    background: rgb(44, 88, 21);
   
}

.create-comment>label {
    color: rgb(44, 88, 21);
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.info-section>.details-comments li {
    width: 400px;
    display: inline-block;
    position: static;
    margin: 20px auto 25px auto;
    border-radius: 16px;
    background: #879879;
    color: rgb(44, 88, 21);
}

.comment>p {
    padding: 16px;
    color: rgb(16, 38, 4);
    font-size: 20px;
}


.create-comment>.button:hover {
    background-color: #879879;
    color: rgb(44, 88, 21);
    cursor: pointer;
}