.footer-box {
    background-color: #3c836a;
    text-align: center;
    font-size: 25px;
    color:rgb(23, 52, 43);
    /* padding-top: 15px; */
    padding-bottom: 15px;  
}

.footer-box>span {
    padding-right: 15px;
    font-size: 30px; 
}

.footer-box>a {
    display: inline-block;   
    align-content:normal;
    padding-right: 10px;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
