.search> {
    color:black;
    margin-top: 15px;
    display: block;


}
.container {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align:left;
    color: black;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
}

.container>input[type="text"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    width:auto;
}